h1{
text-align:float;
    color:Navy;

}
img {
  float: left;
    height: 100px;
    width: 100px
}
p{
color:#3498DB;
}
#b{
background-color:DarkBlue ;
    text-align: center;
    font-size :  20px;
    

}

a{
color: #F4F6F7 ;
    text-align: center;
   
}
#c{
background-color:#E5E7E9 ;


  
}
#d{
background-color: Navy;
    border-bottom-width: 120px;
    height: 120px;

}
#col{
    color: yellow;
}



